body {
    background: linear-gradient(#f8ff6a, #78ff93);
    background-repeat: no-repeat;
    height: 100vh; 
}
form {
    box-sizing: border-box;
    width: 350px;
    margin: 100px auto 0;
    padding-bottom: 40px;
    border: 5px solid black;
    border-radius: 15px 50px;
    
    background-color: aqua;

}
form h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}
input {
    margin: 40px 25px;
    width: 300px;
    border: none;
    padding: 10px 0;
    border-bottom: solid 3px orange;
    border-radius: 10px;
}
.submit {
    margin: 40px;
    background: linear-gradient(to top right,#ff9500,#5900ff);
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
}
form h1:hover{
    background-color: orange;
}